<h2>HISTORY</h2>

<ul>
{{#each model as |order|}}
  {{#if order.shippingAddress}}
  <li>Shipping Address: {{order.shippingAddress}}</li>
  {{/if}}
  {{#if order.billingAddress}}
  <li>Billing Address: {{order.billingAddress}}</li>
  {{/if}}
  <li>Order total: ${{order.total}}</li>
  <li>Completed? {{order.paid}}</li>


{{/each}}
</ul>
{{#link-to 'shop'}}Back{{/link-to}}
