<h1>View Your Stamps</h1>
{{#each model as |stamp|}}
Stamp {{stamp.id}}
<ul>
  {{#if stamp.monochrome_link}}
  <img src="{{stamp.monochrome_link}}">
  {{/if}}
  <li>Cost: ${{stamp.cost}}</li>
</ul>
{{/each}}
{{#link-to 'stamps'}}Back{{/link-to}}
